@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nanum+Gothic&display=swap');

body {
  background-color: #000;
}

.mainBox {
  margin-top: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  height: 50rem;
  border: 1px solid #000;
  background-color: #EFc;
  border-radius: 1rem;
}

.title {
  margin-top: 2rem;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 4.3rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  animation: color-change 20s infinite;
}

@keyframes color-change {
  0% { color: blue; }
  14% { color: orange; }
  24% { color: red; }
  42% { color: green; }
  56% { color: #8000ff; }
  70% { color: brown; }
  84% { color: pink; }
  100% { color: black; }
}
select {
  padding: 8px 12px;
  color:#333;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  width: 7rem;
}
